*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/*CSS for header*/
header{
	height: 110vh;
	background:	url(../images/horizon.jpg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

nav > ul{
	display: flex;
	list-style-type: none; 
}

nav > ul > li{
	margin: 0 20px;
}
/*styling for buttons*/
.btn{
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
}

.btn-item{
	background-color: salmon;
	font-size: 15px;
}

#mountainBtn{
	position: absolute;
	right: 100px;
	top: 15px;
	transition: .3s;
}

#mountainBtn:hover {
	top: 5px;
}

/*disapperaing menu css*/
.submenu {
	background-color: whitesmoke;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 76px;
	transition: .5s;

}

.submenu > div {
	width: 25%;
}

div + div  {
	border-left: 1px solid lightgrey;
}

div > h4, div > p {
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > nav > div > p:hover {
	background-color: darkgrey;
}

.submenu {
	visibility: hidden;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	visibility: visible;
}

.header-text {
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1 {
	font-size: 70px;
}

.header-text> div > .btn {
	margin-top: 20px;
	background-color: lightgrey;
	color: black;
}

.header-text > h1, .header-text > p, .header-text > div > button {
	margin-left: 50px;
}
/*End CSS for header*/

/*start of quote css*/
.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div {
	text-align: center;
	margin-top: 15px;
}

/*end of quote*/

.section3 {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: flex-end;
	align-items: center;
}

.section3-left > img {
	height: 400px;
	width: 400px;
	border-radius: 20px;
}

.section3 > section{
	width: 50%
}

.section3-left{
	text-align: right;
}

.section3-right {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.section3-right > div{
	height: 300px;
	padding-right: 50px;
}

.section3-right > div > div > p{
	color: grey;
	margin-bottom: 10px;
}

.section3-right > div > div> h3{
	font-size: 30px;
}

.bottom-content > div > h1 {
	font-size: 60;
}

.bottom-content > div > h1 > span {
	font-size: 20;
	position: relative;
	bottom: 30px;
}

.bottom-content > div > p {
	font-size: 12;
	color: gray;
}
/*section4*/

.s4{
	height: 80px;
	justify-content: center;
	text-align: center;
}

.boxes{
	height: 300px;
	width: 100%;
	border-radius: 20px;
	justify-content: center;
	margin: 0 5px;
	display: flex;

	/*height: 300px;
	width: 300px;
	border: 1px solid black;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	margin: 0 100px;
	text-align: center;*/
}

.box > div > img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

.box > div {
	height: 300px;
	width: 300px;
	text-align: center;
	border-radius: 20px;
	justify-content: center;
	margin: 0 10px;
	
	/*height: 300px;
	width: 300px;
	text-align: center;
	justify-content: right;
	margin: 0 100px;*/
}

.box > div > h3 {
	margin: 20px;
	position: relative;
	top: 10px;	
}

.box{
	height: 300px;
	width: 300px;
	border-radius: 20px;
	justify-content: center;
	margin: 0 5px;
	
	border: 1px solid
	/*height: 300px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	justify-content: right;
	margin: 0 100px;*/
}